/* Styles pour la div contenant les boutons */
.folders-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* Styles pour les boutons */
.folders-header button {
    padding: 10px 20px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

.folders-header button.active {
    background-color: #333;
    color: white;
}

/* Styles pour les cartes des dossiers */
.folders {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

@keyframes rotateColors {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.folder-card {
    width: calc(23.666% - 20px);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 4px solid;
    border-image: linear-gradient(124deg, rgba(255,26,0,0.65), rgba(232,29,29,0.65), rgba(232,183,29,0.65), rgba(227,232,29,0.65), rgba(29,232, 64,0.65), rgba(29,221,232,0.65), rgba(43,29,232,0.65), rgba(221,0,243,0.65), rgba(221,0,243,0.65)) 1;
    border-image-slice: 1;
    transition: border-image 0.8s;
    background-color: white;
}

.folder-card:hover {
    border-image: linear-gradient(124deg, rgba(255,26,0,0.85), rgba(232,29,29,0.85), rgba(232,183,29,0.85), rgba(227,232,29,0.85), rgba(29,232, 64,0.85), rgba(29,221,232,0.85), rgba(43,29,232,0.85), rgba(221,0,243,0.85), rgba(221,0,243,0.85)) 1;
}

.task-card {
    margin: 10px;
    padding: 10px !important;
    box-sizing: border-box;
    border: 4px solid;
    border-image: linear-gradient(124deg, rgba(255,26,0,0.65), rgba(232,29,29,0.65), rgba(232,183,29,0.65), rgba(227,232,29,0.65), rgba(29,232, 64,0.65), rgba(29,221,232,0.65), rgba(43,29,232,0.65), rgba(221,0,243,0.65), rgba(221,0,243,0.65)) 1 !important;
    border-image-slice: 1 !important;
    transition: border-image 0.8s;
    background-color: white;
    min-width: 250px;
}


.margin-right {

}



.task-card:hover {
    border-image: linear-gradient(124deg, rgba(255,26,0,0.85), rgba(232,29,29,0.85), rgba(232,183,29,0.85), rgba(227,232,29,0.85), rgba(29,232, 64,0.85), rgba(29,221,232,0.85), rgba(43,29,232,0.85), rgba(221,0,243,0.85), rgba(221,0,243,0.85)) 1;
}


@keyframes rotateColors {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}













td {
    border: 1px solid black
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


.bold{
    font-weight: bold;
}

.yes{
    color: green;
}

.todo{
    color: red;
}

.arborescence {
    margin-top: 20px;
}

.folder_arbo {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    border: 1px solid #007bff; /* Bordure de couleur bleu ciel */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espace intérieur */
    background-color: #e6f7ff; /* Fond de couleur bleu ciel */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.folder_arbo:hover {
    color: #007bff; /* Change la couleur au survol */
}

.folder_separator_arbo {
    margin: 0 5px; /* Espace autour du séparateur */
    color: #666; /* Couleur du séparateur */
}

hr.rounded {
    border-top: 2px solid #000000;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.priority_block{
 display: block!important;
}

.priority_none{
    display: none !important;
}
