/* public/css/styles.css */

ul {
    list-style: none;
    padding-left: 0;
}

.folder {
    cursor: pointer;
    font-weight: bold;
}

.folder::before {
    content: "▸";
    margin-right: 5px;
    display: inline-block;
}

.nested {
    display: none;
}

.active {
    display: block;
}

body {
    font-family: Arial, sans-serif; /* Utilisation d'une police de caractères par défaut */
    background-color: #f5f5f5; /* Couleur de fond */
    padding: 20px; /* Espacement autour de la page */
}

.cat {
    position: relative;
    padding-left: 20px;
}

.cat:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    border-left: 1px solid #ccc; /* Ligne verticale */
    height: 100%;
}

.cat .nested {
    margin-left: 20px;
    position: relative;
}

.cat .nested:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -20px;
    border-top: 1px solid #ccc; /* Ligne horizontale */
    width: 20px;
}

/* Style pour la flèche vers le bas */
.cat:before {
    content: '';
    position: absolute;
    top: 8px;
    left: -20px;
    border-left: 1px solid #ccc; /* Ligne verticale */
    height: calc(100% - 8px);
    width: 20px;
}

.cat:last-child:before {
    height: 50%;
}


.folder {
    color: #428bca; /* Couleur pour les dossiers */
    font-weight: bold; /* Police en gras pour les dossiers */
}

.file {
    color: #777; /* Couleur pour les fichiers */
    font-style: italic; /* Police en italique pour les fichiers */
}
